@import 'fonts.css';
@import 'cdn.jsdelivr.net_npm_swiper@11_swiper-bundle.min.css';
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header,.footer{
    background-color: #0085FF;
}

.header__wrapper,.footer__wrapper{
    width: 75%;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.logo__link{
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.header__nav{
    width: 60%;
    display: flex;
    justify-content: space-around;
}
/*.header__nav *{*/
/*    margin-left: 100px;*/
/*}*/
.header,.footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
.ticket-found__input{
    /*display: flex;*/
    /*gap: 2px;*/
}
.fast-found{
    border: 0;
    padding: 10px 5px 10px 5px;

}

.form-found{
    display: flex;
    gap: 3px;
}
.fast-found:first-child{
    border-start-start-radius: 10px;
    border-end-start-radius: 10px;
}

.ticket-found{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.submit{
    border: 0;
    border-radius: 5px;
    background-color: #FF9243;
    font-size: 16px;
    padding: 10px;
    color: white;
}
.ticket-found__heading{
    color: white;
    margin-bottom: 10px;
}

.fast-found__passenger{
    font-size: 14px;
    color: grey;
}
.main{
    max-width: 700px;
    margin: 0 auto;
}
.slide{
    width: 100%;
    background-repeat:no-repeat;
    object-fit: cover;
    background-size: cover ;
    background-position: center center ;
    padding: 20px;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: end;*/
    position: relative;
    border-radius: 20px;
}
.slide-tint{
    background-color: rgba(0,0,0,.5);
    background-blend-mode: multiply;
}
.capital-name{
    position: absolute;
    bottom: 75px;
    font-weight: bold;
    color: white;
    font-size: 20px;
}
.capital-description{
    position: absolute;
    bottom: 25px;
    color: white;
    font-size: 15px;
}
.slider__header{
    padding-bottom:10px ;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fast-found{
    font-weight:bolder;
    font-size: 16px;
}
.f-f-block{
    font-weight: normal;
    background-color: white;
    border-start-end-radius: 10px;
    border-end-end-radius: 10px;
    margin-right: 10px;
    padding: 10px 20px 10px 10px;
    cursor: pointer;
}
.fast-found::placeholder{
    font-weight: normal;
}
.slider-button{
    padding: 11px 19px 11px 19px;
    border: transparent;
    border-radius: 50%;
    font-size: 24px;
    cursor:pointer;
}
.slogan{
    max-width: 400px;
}
.stock__content{
    margin: 13px 26px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}
.stock{
    background-color: #FF9243;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.stock-gradient-image{
    border-radius: 20px;
    background: linear-gradient(90deg, #FF9243 0.3%, rgba(255, 146, 67, 0.00) 120%), url('../image/city-orange.jpg');
    background-size: cover;
    width: 253px;
    height: 147px;
    flex-shrink: 0;
    overflow: hidden;
}
.stock__buy{
    max-width: 250px;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    display: flex;
    border: transparent;
    background-color: white;
    border-radius:10px;
}
.swiper{
    margin-top: 10px;
    margin-bottom: 20px;
}
.swiper-wrapper{
    max-width: 700px;
    height: 300px;
}
.swiper-slide{
    width: 100%;
    background-color: rgba(0,0,0,.5);
    background-blend-mode: multiply;

}
.footer {
    /* Чтобы footer не уменьшался */
    flex-shrink: 0;
    position:absolute;
    bottom:0;
}
.swiper-button-next::after,.swiper-button-prev::after{
    color: white;
}
.burger-menu{
    width: 10px;
    height: 1px;
    background-color: white;

}
.burger-menu{
    display: none;
    width: 30px;
    height: 30px;
    position: relative;
    background-color: transparent;
    align-items: center;
}
.burger-menu-line{
    width: 30px;
    height: 2px;
    border-radius: 5px;
    background-color: white;

}
.burger-menu-line:after,.burger-menu-line:before{
    content: "";
    width: 30px;
    height: 2.5px;
    border-radius: 5px;
    background-color: white;
    position: absolute;
}
.burger-menu-line:after{
    bottom: 0;

}
.burger-menu-line:before{
    top: 0;
}
@media screen and (max-width:426px){
    p{
        font-size: 14px;
    }

    .main,.header__wrapper,.footer__wrapper{
        max-width: 360px;
    }
    .header__wrapper{
        justify-content: space-between;
    }
    .ticket-found__text{
        font-size: 14px;
    }
    .burger-menu{
        display: flex;
    }
    .profile__icon,.footer__slogan,.header__nav,.logo__text{
        display: none;
    }
    .form-found{
        display: grid;
        grid-template-columns: 139px 139px;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .fast-found{
        max-width: 138px;
    }
    .fast-found:first-child{
        border-bottom-left-radius: 0;
    }
    .fast-found:nth-child(2){
        border-top-right-radius: 10px;
    }
    .f-f-block{
        border-start-end-radius: 0;
        margin: 0;
        max-width: 280px;
        display: inline-grid;
        grid-column-start: 1;
        grid-column-end:3;
        border-bottom-left-radius: 10px;
    }
    .submit{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .stock{
        max-height: 200px;
    }
    .stock-gradient-image{
        width: 140px;
        height: 11em;
        background-position: center center;
    }
    .button-arrow{
        display: none;
    }
}
