@import 'fonts.css';
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.header,.footer{
    background-color: #0085FF;
}

.header__wrapper,.footer__wrapper{
    width: 75%;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.logo__link{
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.header__nav{
    width: 60%;
    display: flex;
    justify-content: space-around;
}
/*.header__nav *{*/
/*    margin-left: 100px;*/
/*}*/
.header,.footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
.ticket-found__input{
    /*display: flex;*/
    /*gap: 2px;*/
}
.fast-found{
    border: 0;
    padding: 10px 5px 10px 5px;

}

.form-found{
    display: flex;
    gap: 3px;
}
.fast-found:first-child{
    border-start-start-radius: 10px;
    border-end-start-radius: 10px;
}
.fast-found:nth-child(5){
    background-color: white;
    border-start-end-radius: 10px;
    border-end-end-radius: 10px;
    margin-right: 10px;
    padding: 10px 20px 10px 10px;
    cursor: pointer;


}
.ticket-found{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.submit{
    border: 0;
    border-radius: 5px;
    background-color: #FF9243;
    font-size: 16px;
    padding: 10px;
    color: white;
}
.ticket-found__heading{
    color: white;
    margin-bottom: 10px;
}

.fast-found__passenger{
    font-size: 14px;
    color: grey;
}
.main{
    max-width: 700px;
    margin: 0 auto;
}
.slider__container {
    /*position: relative;*/

    margin: 0 auto;
    overflow: hidden;
}
.slider{
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 400px;
}
.slide{
    width: 100%;
    height: 80%;
    background-repeat:no-repeat;
    object-fit: cover;
    background-size: cover ;
    background-position: center center ;
    padding: 20px;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: end;*/
    position: relative;
    border-radius: 20px;
}
.slide-tint{
    background-color: rgba(0,0,0,.5);
    background-blend-mode: multiply;
}
.capital-name{
    position: absolute;
    bottom: 60px;
    font-weight: bold;
    color: white;
    font-size: 20px;
}
.country-name{
    position: absolute;
    bottom: 5px;
    color: white;
    font-size: 15px;
}
.slider__header{
    padding: 10px 0 10px 0;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fast-found{
    font-weight:bolder;
    font-size: 16px;
}
.f-f-block{
    font-weight: normal;
}
.fast-found::placeholder{
    font-weight: normal;
}
.slider-button{
    padding: 11px 19px 11px 19px;
    border: transparent;
    border-radius: 50%;
    font-size: 24px;
}
.slogan{
    max-width: 400px;
}
.stock__content{
    margin: 13px 26px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}
.stock{
    background-color: #FF9243;
    border-radius: 20px;
    display: flex;
    align-items: center;

}
.stock-gradient-image{
    border-radius: 20px;
    background: linear-gradient(90deg, #FF9243 0.3%, rgba(255, 146, 67, 0.00) 127%), url('../image/city-orange.jpg');
    background-size: cover;
    width: 253px;
    height: 147px;
    flex-shrink: 0;
}
.stock__buy{
    max-width: 250px;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    display: flex;
    border: transparent;
    background-color: white;
    border-radius:10px;
}